<ion-view cache-view="false">
  <ion-nav-title>
     Conversations
    </ion-nav-title>
  <ion-content class="" has-footer="true" scroll="true" style="overflow-y: auto;">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getConversations()">
    </ion-refresher>
    <div ng-if="conversations.length == 0">
      <div class="no-matches-container">
          <h4 style="text-align: center; color: white">No Conversations</h4>
          <hr style=" display: block; height: 0px; border: 0; border-top: 1px solid #fff; border-bottom: 1px solid #fff; border-radius:2px; margin: 1em auto; padding: 0; width: 90% "/>
          <p style="color: white"><b>Note:</b> To start a chat select one of the two options from below</p>
      </div>
    </div>
    <div class="list">
        <a ng-repeat="convo in conversations"class="item item-avatar conversation-item" ng-click="openConversation(convo)" style="box-shadow: 0 0 5px #8b8b8b;">
          <img ng-src="{{convo.sender_image}}">
          <span ng-show="!convo.recipient_read" class="convoImageUnreadOverlay">
          </span>
          <span style="float:right; font-size: 12px; color:#20343D;">{{convo.last_message.created_at}}</span>
          <h2 class="convo-name" style="color:#212121">{{convo.sender_name}} </h2>
          <p ng-show="current_user.isCustomer" class="convo-last-message" style="color: #6E8E9D;font-size: 12px;">{{convo.sender_dealership}} : {{convo.sender_role}}</p>
          <p ng-hide="current_user.isCustomer" class="convo-last-message" style="color: #6E8E9D;font-size: 12px;">{{convo.last_message.body}}</p>
        </a>
    </div>

  </ion-content>
  <ion-footer-bar style="background-color:#444; height: 100px; width:100%; bottom:44px;">
      <div class="button-bar">
         <a ng-click="openSalesModal()" class="button button-icon icon ion-pricetags startChatButtons"><span style="display: block;">Chat Sales</span></a>
         <a ng-click="openServiceModal()"  class="button button-icon icon ion-settings startChatButtons"><span style="display: block;">Chat Service</span></a>
      </div>
  </ion-footer-bar>
</ion-view>
